* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(./bg-image/1.jpg);
    background-size: cover;
}
.container {
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-30%);
}
.container > p {
    cursor: pointer;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 3rem;
    color: wheat;
}
.container > p:hover {
    color: white;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s ease-in-out;
    z-index: 2;
    border: 2px solid coral;
    border-radius: 10px;
    background-color: white;
}
.modal.active { 
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    border-bottom: 2px solid coral;
}
.modal-header .title {
    font-size: 1.5rem;
    font-weight: 700;
}
.modal-header .close-btn {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}
.modal-body {
    font-size: 1rem;
    padding: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}